@{
                /**/

                ViewBag.Title = "Detalle";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalle</title>
    <style>
        .linkbtnfull {
            background-color: #f44336;
            color: white;
            font-size: medium;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
@{
    EstudianteDBEntities db = new EstudianteDBEntities();
}
<body>
    <h2 style="text-align:center;background-color:black;color:white;font-family:Arial; font-style:oblique; font-size:x-large">
        Detalle de Estudiantes
    </h2>
    @using (Html.BeginForm())
    {
        <div class="well">
            <table align="center" border="1" cellpadding="4" cellspacing="4">
                <thead>
                    <tr>
                        <th style="background-color:black;color:white ">Foto</th>
                        <th style="background-color:black;color:white ">Nombres</th>
                        <th style="background-color:black;color:white ">Apellidos</th>
                        <th style="background-color:black;color:white ">Direccion</th>
                        <th style="background-color:black;color:white ">Telefono</th>
                        <th style="background-color:black;color:white ">Cedula</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in db.tblEstudiante)
                    {
                        <tr>
                            <td>
                                <img src="~/Images/@item.ImageUrl" class="img-circle" alt="Kulu" width="100" height="70" />
                            </td>
                            <td>@item.Nombres</td>
                            <td>@item.Apellidos</td>
                            <td>@item.Direccion</td>
                            <td>@item.Telefono</td>
                            <td>@item.Cedula</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    }
</body>
</html>
