@model Diplomado_MVC_UASD_Estudiante_ImageUpload.tblEstudiante
@{
    ViewBag.Title = "Estudiantes";
}




<head>
    <meta name="viewport" content="width=device-width" />
    <title>Estudiantes</title>
    <style>
        .linkbtnfull {
            background-color: #f44336;
            color: white;
            font-size: medium;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head> <!-- @Html.ValidationSummary()-->
@using (Html.BeginForm("FileUpload", "Home", FormMethod.Post,
                       new { enctype = "multipart/form-data" }))
{
    <table>
        <tbody>
            <tr>
                <td style="text-align:center;background-color:black;color:white;font-family:Arial; font-style:oblique; font-size:x-large">
                    Registro Estudiantes
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBox("Nombres", "", "", new { placeholder = "Digite su Nombre...." })
                    @Html.ValidationMessageFor(tblEstudiante => tblEstudiante.Nombres)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBox("Apellidos", "", "", new { placeholder = "Digite su Apellido...." })
                    @Html.ValidationMessageFor(tblEstudiante => tblEstudiante.Apellidos)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBox("Direccion", "", "", new { placeholder = "Digite su Direccion...." })
                    @Html.ValidationMessageFor(tblEstudiante => tblEstudiante.Direccion)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBox("Telefono", "", "", new { placeholder = "Digite su Telefono...." })
                    @Html.ValidationMessageFor(tblEstudiante => tblEstudiante.Telefono)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBox("Cedula", "", "", new { placeholder = "Digite su Cedula...." })
                    @Html.ValidationMessageFor(tblEstudiante => tblEstudiante.Cedula)
                </td>
            </tr>
            <tr>
                <td>
                    <input type="file" name="file" id="file" class="btn btn-default" />
                     @Html.ValidationMessageFor(tblEstudiante => tblEstudiante.ImageUrl)
                </td>
            </tr>
            <tr>
                <td><input type="submit" class="btn btn-primary" value="Guardar" /></td>
            </tr>
        </tbody>
    </table>
}
<body>
    <div>
    </div>
</body>

